# Environment & Secrets (Never commit bot tokens to public GitHub!)
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Local Downloads
downloads/

# User local preferences
user_preferences.json

# IDE & OS files
.vscode/
.idea/
Thumbs.db
.DS_Store
